
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #000, #444);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

h2 {
    margin-bottom: 15px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;
}

button {
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


button:hover {
    background: #333;
}

#qrcode {
    margin-top: 15px;
}

/* Mobile optimisation */
@media (max-width: 480px) {
    .container {
        border-radius: 0;
        height: 100vh;
        justify-content: center;
    }
}
